<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/loan</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.loan.datasource.entities.jpa.AdminEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.BussinessMonitorEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.CooperationEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.CooperationTypeEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.ModuleEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.NewsEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.OperatorEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.RelationEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.UserEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.UserInfoEntity"/>
      <mapping class="com.loan.datasource.entities.jpa.ZhimaEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>